<div class="card">
  <div class="card-header">
    <strong class="card-title">Type Medicament</strong>
  </div>
  <div class="card-body">
    <app-type-list
      (editEvent)="edit($event)"
      (deleteEvent)="delete($event)"
      [types]="types$"
      [typeI18n]="typeI18n"
    ></app-type-list>

    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#addType"
    >
      <i class="fas fa-plus-circle"></i> Créer
    </button>

    <app-modal-type></app-modal-type>
  </div>
</div>
<!--
<div class="container-fluid">
  <div *ngIf="loading; else loaded">
    <app-loading></app-loading>
  </div>

  <ng-template #loaded>
    <h1 class="h3 mb-2 text-gray-800">{{ categoryI18n?.allTitleI18n }}</h1>

  
    <div class="card shadow mb-4">
      <div class="card-body">
      
        <app-add-button [itemI18n]="categoryI18n"></app-add-button>

        <div class="table-responsive">
          
          <app-category-list
            (editEvent)="edit($event)"
            (deleteEvent)="delete($event)"
            [categories]="categorys$"
            [categoryI18n]="categoryI18n"
          ></app-category-list>

          
          <app-modal-category
            [categoryI18n]="categoryI18n"
            [id]="id"
          ></app-modal-category>
        </div>
      </div>
    </div>
  </ng-template>
</div>
-->
